.price-tooltip {
    position: absolute;
    top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 51px;
    color: #f9fafb;
    background: #1f282d;
    border-radius: 4px;

    &::before {
        position: absolute;
        bottom: -9px;
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background: #1f282d;
        transform: rotate(45deg);
        transform-origin: center;
    }
}

.price-tag {
    color: #f9fafb;
    fill: #f9fafb;
    background: #1f282d;
    font-size: 14px;
    font-weight: 400;
}

.car-filter-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    height: 100px;
    margin: 0px 6px 16px 0px;
    color: #192024;
    background: #ffffff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;

    &:hover {
        border: 1px solid #192024;
    }
}

.car-img {
    width: 78px;
    height: 50px;
}

.car-type {
    padding: 4px;
    font-size: 14px;
    line-height: 16px;
}
