.m-f-content {
    display: block;
    cursor: pointer;
    line-height: 20px;
    margin: 0 -16px;
    padding: 5px 16px;

    &:hover {
        background-color: #f3f5f7;
    }
}

.m-f-inner {
    min-width: 200px;
}

.m-f-card {
    display: flex;
    align-items: center;
}

.m-f-input {
    align-content: flex-start;
    margin: 0;
}

.m-f-img-car-type {
    display: flex;
    align-items: center;
    align-content: space-between;
    color: #2b2b2b;
}

.m-f-car-img {
    margin-right: 12px;
    padding-left: 8px;
}

.m-f-car-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.m-f-price-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.m-f-price-tag {
    color: #647582;
    font-size: 0.8rem;
    margin-left: 3px;
}
