/* GENERAL */

body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin: 50px 0 8px 20px;
    width: 538px;
}

.header-name {
    color: #212a30;
    display: block;
}

.header-reset {
    color: #0080a4;
    cursor: pointer;
    display: block;
}

/* CAR FILTER BUTTONS */

.car-filter-cards {
    display: flex;
    margin-left: 20px;
}

.car-filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    color: #192024;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    line-height: 18px;
    padding: 4px 8px;
    margin: 0px 4px 16px 0px;
    min-width: 70px;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.car-filter-card:hover {
    border: 1px solid #192024;
}

.more-filter-button-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    background: #ffffff;
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 60px;
    line-height: 18px;
    margin-right: 0;
    margin-bottom: 16px;
    min-width: 75px;
    padding: 4px 12px;
    position: relative;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.more-filter-button-card:hover {
    border: 1px solid #192024;
}

.svg-image {
    height: 15px;
    width: 15px;
}

.car-img {
    height: 32px;
    width: 48px;
}

/* PRICE TOOLTIP */

.price-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f282d;
    border-radius: 4px;
    color: #f9fafb;
    height: 51px;
    position: absolute;
    top: 10px;
    width: 71px;
}

.price-tooltip::before {
    content: "";
    display: block;
    background: #1f282d;
    bottom: -9px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: center;
    width: 18px;
}

.price-tag {
    background: #1f282d;
    color: #f9fafb;
    fill: #f9fafb;
    font-size: 14px;
    font-weight: 400;
}

/* MORE FILTER CARDS AND CONTENT */

.more-filter-cards-outer {
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(25 32 36 / 16%);
    left: 488px;
    position: absolute;
    top: 135px;
    width: 250px;
}

.more-filter-cards-inner {
    margin: 12px 16px;
}

.m-f-content {
    display: block;
    cursor: pointer;
    line-height: 20px;
    margin: 0 -16px;
    padding: 5px 16px;
}

.more-filter-title {
    padding-right: 8px;
}

.m-f-content:hover {
    background-color: #f3f5f7;
}

.m-f-inner {
    /* margin: 12px 16px; */
    min-width: 200px;
}

.m-f-card {
    display: flex;
    align-items: center;
}

.m-f-input {
    align-content: flex-start;
    margin: 0;
}

.m-f-img-car-type {
    display: flex;
    align-items: center;
    align-content: space-between;
    color: #2b2b2b;
}

.m-f-car-img {
    margin-right: 12px;
    padding-left: 8px;
}

.m-f-car-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.m-f-price-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1 0 auto;
}

.m-f-price-tag {
    color: #647582;
    font-size: 0.8rem;
    margin-left: 3px;
}

.selected-details {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
